<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        SELECT s.*, c.name categoryName FROM setmeal s left outer join category c on s.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and s.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>

    <select id="getById" resultType="com.sky.vo.SetmealVO">
        SELECT s.*, c.name categoryName FROM setmeal s left outer join category c on s.category_id = c.id WHERE s.id = #{id}
    </select>

    <update id="modify">
        UPDATE setmeal s
            <set>
                <if test="categoryId != null">
                    s.category_id = #{categoryId},
                </if>
                <if test="name != null and name != ''">
                    s.name = #{name},
                </if>
                <if test="price != null">
                    s.price = #{price},
                </if>
                <if test="status != null">
                    s.status = #{status},
                </if>
                <if test="description != null and description != ''">
                    s.description = #{description},
                </if>
                <if test="image != null and image != ''">
                    s.image = #{image},
                </if>
                <if test="updateTime != null">
                    s.update_time = #{updateTime},
                </if>
                <if test="updateUser != null">
                    s.update_user = #{updateUser}
                </if>
            </set>
        WHERE s.id = #{id}
    </update>
</mapper>